.country-card {
	box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 0.5rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	&-logo img {
		object-fit: cover;
		width: 100%;
		height: 20rem;
	}
	&:hover {
		box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
	}

	& .container {
		padding: 0.2rem 2rem;
		& .name {
			font-size: 2rem;
		}
	}
}
