.directory-menu {
	// margin: 70px;
	// @media (max-width: 530px) {
	// 	margin: 0;
	// }
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		align-content: start;
		gap: 85px;

		justify-content: center;

		& .country-list__link {
			text-decoration: none;
			color: #000;
		}
	}

	&-filter {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 70px;
		margin-bottom: 50px;
		@media (max-width: 530px) {
			flex-direction: column;
			align-items: center;
			margin: 0;
			margin-bottom: 40px;
			margin-top: -10px;
		}
		&-all {
			flex: 0.4;
			padding: 15px;
			height: 60px;
			border-radius: 5px;
			box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1);
			border: none;

			@media (max-width: 530px) {
				flex: 1;
				display: block;
				margin-bottom: 50px;
				height: 50px;
				width: 90%;
			}
		}

		&-region {
			@media (max-width: 530px) {
				align-self: flex-start;
				margin-left: 20px;
				margin-top: -5px;
			}
		}
	}
}

.ui.selection.dropdown {
	padding: 10px;
	height: 45px;
	border-radius: 5px;
	box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1);
	border: none;
	display: flex;
	align-items: center;
	& .divider.default.text {
		color: #000;
	}
}

.ui.active.visible.selection.dropdown {
	& .visible.menu.transition {
		& > * {
			font-size: 16px;
			padding: 10px !important;
			padding-right: 20px;
		}
	}
}
