.directory-menu {
	margin: 70px;
	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		align-content: start;
		gap: 40px;

		justify-content: space-between;

		& .country-list__link {
			text-decoration: none;
			color: #000;
		}
	}

	&-filter {
		display: flex;
		justify-content: space-between;
	}
}
