.directory-menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
	gap: 50px;
	margin: 70px;
	justify-content: center;

	& .country-list__link {
		text-decoration: none;
		color: #000;
	}
}
